@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.login-divider::after {
  content: 'or';
  position: absolute;
  color: rgb(100, 116, 139);
  margin-top: -13px;
  padding: 0px 8px;
  background-color: #fff;
  left: 48%;
}

.bg-pattern-1 {
  background-color: #fb7185;
  opacity: 1;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #fb7185 28px),
    repeating-linear-gradient(#f43f5e55, #f43f5e);
}

.bg-pattern-2 {
  background-color: #c084fc;
  opacity: 1;
  background-image: radial-gradient(#a855f7 1.4000000000000001px, #c084fc 1.4000000000000001px);
  background-size: 18px 18px;
}
.bg-pattern-3 {
  background-color: #4ade80;
  opacity: 1;
  background-size: 28px 28px;
  background-image: repeating-linear-gradient(45deg, #10b981 0, #10b981 2.8000000000000003px, #4ade80 0, #4ade80 50%);
}
.bg-pattern-4 {
  background-color: #f87171;
  opacity: 1;
  background-image: linear-gradient(30deg, #ef4444 12%, transparent 12.5%, transparent 87%, #ef4444 87.5%, #ef4444),
    linear-gradient(150deg, #ef4444 12%, transparent 12.5%, transparent 87%, #ef4444 87.5%, #ef4444),
    linear-gradient(30deg, #ef4444 12%, transparent 12.5%, transparent 87%, #ef4444 87.5%, #ef4444),
    linear-gradient(150deg, #ef4444 12%, transparent 12.5%, transparent 87%, #ef4444 87.5%, #ef4444),
    linear-gradient(60deg, #ef444477 25%, transparent 25.5%, transparent 75%, #ef444477 75%, #ef444477),
    linear-gradient(60deg, #ef444477 25%, transparent 25.5%, transparent 75%, #ef444477 75%, #ef444477);
  background-size: 56px 98px;
  background-position:
    0 0,
    0 0,
    28px 49px,
    28px 49px,
    0 0,
    28px 49px;
}
.bg-pattern-5 {
  background-color: #f87171;
  opacity: 1;
  background-image: radial-gradient(#ef4444 1.4000000000000001px, #f87171 1.4000000000000001px);
  background-size: 21px 21px;
}
.bg-pattern-6 {
  background-color: #4ade80;
  opacity: 1;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #4ade80 28px),
    repeating-linear-gradient(#22c55e55, #22c55e);
}
.bg-pattern-7 {
  background-color: #c084fc;
  opacity: 1;
  background:
    radial-gradient(circle, transparent 20%, #c084fc 20%, #c084fc 80%, transparent 80%, transparent),
    radial-gradient(circle, transparent 20%, #c084fc 20%, #c084fc 80%, transparent 80%, transparent) 70px 70px,
    linear-gradient(#a855f7 5.6000000000000005px, transparent 5.6000000000000005px) 0 -2.8000000000000003px,
    linear-gradient(90deg, #a855f7 5.6000000000000005px, #c084fc 5.6000000000000005px) -2.8000000000000003px 0;
  background-size:
    70px 70px,
    70px 70px,
    35px 35px,
    35px 35px;
}
.bg-pattern-8 {
  background-color: #e2e8f0;
  opacity: 1;
  background-image: radial-gradient(circle at center center, #cbd5e1, #e2e8f0),
    repeating-radial-gradient(circle at center center, #cbd5e1, #cbd5e1, 28px, transparent 56px, transparent 28px);
  background-blend-mode: multiply;
}
